:root {
  --width-aside: 25%;
}
/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common */
body {
  font-family:"Exo 2", "Lato", "Helvetica Neue", sans-serif;
  color: #686662;
}

/* layout  */
.wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  height: 200px;
}

/* Utilities */
.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.j-c-space-between {
  justify-content: space-between;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

/* Main  */
.main {
  width: calc(100% - var(--width-aside));
  height: 100%;
  background-color: #2E2A23;
  overflow-y: auto;
}

/* Header-main  */
.header {
  font-size: 30px;
  justify-content: space-between;
  padding: 20px;
}

/* Main-body */
.main-body {
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
div.main-body > h1 {
  font-size: 3.8rem;
  margin-bottom: 90px;
}

.table-orange {
  background-color: #D7942A;
  width: 500px;
  height: 200px;
  font-size: 30px;
  flex-direction: column;
  margin-bottom: 90px;
  color: white;
}

.box {
  width: 100%;
  height: 800px;
  border: 15px solid #1D1B17;
}

.left-box,
.right-box {
  width: 50%;
  height: 100%;
  flex-direction: column;
}

.head-table {
  width: 100%;
  height: 60px;
  background-color: #26241E;
  font-size: 30px;
  padding: 0 20px;
  align-items: center;
}

.title-box {
  color: #A8A7A5;
}

.description-box {
  color: #686663;
}

.body-table {
  height: 100%;
}

.number {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.body-table .number {
  width: 50px;
  font-size: 20px;
  background-color: #DDDDDD;
}

.body-table .text {
  flex-grow: 1;
  height: 100%;
  background-color: #EFEFEF;
}

/* Aside  */
.aside {
  width: var(--width-aside);
  height: 100%;
  background-color: #1D1B17;
}